@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700);

* {
	font-family:'Roboto', sans-serif; margin:0; padding:0; border:0; outline:0;
	box-sizing:border-box;
}

html, body {
	background:#474747 no-repeat fixed;
	height:100%;
}

img { max-width:100%; }

.txtl { text-align:left!important; }
.txtc { text-align:center!important; }
.txtr { text-align:right!important; }
.txtj { text-align:justify!important; }

a { text-decoration:none; }

header {
	background:#151515;
	height:50px;
	position:fixed;
	left:0; right:0; top:0;
	display:block;
	border-bottom:1px solid #262626;
	z-index:10002;
}

.wrapper {
	width:95%;
	max-width:1000px;
	position:relative;
	margin:0 auto;
}

.logo { color:#fff; font-size:1.2em; font-weight:300; line-height:50px; text-decoration:none; padding:0 12px; letter-spacing:-2px; }
.logo i { margin-right:10px; }

.tools {
	position:absolute;
	top:0; right:0;
	height:50px;
	padding:0 12px;
}

.tools div.search, .tools nav.links, .tools form { display:inline-block; height:50px; line-height:48px; position:relative; }

.search { width:300px; }
.search #search { border-radius:3px; padding:8px 30px 8px 10px; width:100%; }
.search button { position:absolute; height:32px; background:none; color:#242424; right:10px; top:8px; cursor:pointer; }

.links { margin-left:20px; }

.links a { color:#f8f8f8; margin:0 10px; }

.usermenu { position:absolute; top:38px; right:-12px; left:-12px; z-index:10002; display:none; }
.usermenu nav { background:#151515; position:relative; border-bottom-right-radius:3px; border-bottom-left-radius:3px; border:1px solid #262626; border-top:0; }
.usermenu nav a { display:block; color:#dcdcdc; padding:12px; font-size:0.8em; transition:background 0.3s; }
.usermenu nav a:last-child { border-bottom-right-radius:3px; border-bottom-left-radius:3px; }
.usermenu nav a:hover { background:#494949; }

.user:hover .usermenu { display:block; }

.user { margin-right:20px; display:inline-block; cursor:pointer; position:relative; height:50px; }
.user a { color:#dcdcdc; font-weight:bold; }
.user a span { line-height:30px; display:inline-block; vertical-align:middle; }
.user img { display:inline-block; width:30px; height:30px; vertical-align:middle; border-radius:50%; margin-left:10px; }

img.ad { box-shadow:rgba(255, 255, 255, 0.40) 0 0 20px; max-width:100%; display:inline-block; }

main {
	padding-top:80px;
	text-align:center;
}

.adcontainer {
	display:inline-block;
}

.info {
	width:100%;
	padding:20px;
	background:#fff;
	text-align:left;
}

.advert-info h1 { font-size:1.6em; font-weight:300; color:#4e4e4e; margin:0 0 8px 0; }
.advert-info p { margin:8px 0; color:#202020; }

.comments { display:none; }

.social { display:block; position:relative; height:50px; line-height:50px; font-size:1.2em; font-weight:700; }
.social a { color:#4e4e4e; } .social a span { color:#ea4940; }