@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700);

* {
	font-family:'Roboto', sans-serif; margin:0; padding:0; border:0; outline:0;
	box-sizing:border-box;
}

html, body {
	background:#cfcfcf url(../images/subtle-bg-1.jpg) repeat;
	height:100%;
}

.notfoundcontent {
	/** BG IMG CREDIT: http://www.nasa.gov/image-feature/celestial-fireworks 
			NASA, ESA, the Hubble Heritage Team (STScI/AURA), A. Nota (ESA/STScI), and the Westerlund 2 Science Team **/
	background:#000 url(../images/nasa-img.jpg) no-repeat center center fixed!important;
	background-size:cover!important;
}

hr {
	border-top:1px solid #c7c7c7;
	margin:20px 0;
}

a { text-decoration:none; }

p { color:#4e4e4e; }

label {
	display:block;
	color:#4e4e4e;
	margin:10px 0;
	cursor:pointer;
}

input[type="text"], input[type="password"], input[type="email"], textarea, select {
	background:#f8f8f8;
	width:100%;
	color:#4e4e4e;
	font-size:1em;
	border-top:1px solid #dcdcdc;
	padding:12px;
	box-shadow:rgba(0, 0, 0, 0.2) 0 0 2px;
}

select { cursor:pointer; }

textarea {
	min-height:100px;
	resize:vertical;
}

.txtl { text-align:left!important; }
.txtc { text-align:center!important; }
.txtr { text-align:right!important; }
.txtj { text-align:justify!important; }

.wrapper {
	width:95%;
	max-width:1000px;
	position:relative;
	margin:0 auto;
}

header {
	background:#202020;
	height:70px;
	position:relative;
	display:block;
}

.logo { color:#fff; font-size:1.5em; font-weight:300; line-height:70px; text-decoration:none; padding:0 12px; letter-spacing:-2px; }
.logo i { margin-right:10px; }

.tools {
	position:absolute;
	top:0; right:0;
	height:70px;
	padding:0 12px;
}

.tools div.search, .tools nav.links, .tools form { display:inline-block; height:70px; line-height:70px; position:relative; }

.search { width:300px; }
.search #search { border-radius:3px; padding:8px 30px 8px 10px; width:100%; }
.search button { position:absolute; height:32px; background:none; color:#242424; right:10px; top:18px; cursor:pointer; }

.links { margin-left:20px; }

.links a { color:#f8f8f8; margin:0 10px; }

.full-band { position:relative; display:block; padding:12px; }
	.full-band.white { background:#fff; color:#4e4e4e; }
	.full-band.red { background:#ea4940; color:#fff; }

.shadow { box-shadow:rgba(0, 0, 0, 0.10) 0 1px 5px; }

.notice { text-align:center; }
	p { margin:15px 0; font-size:1.2em; } p:last-child { margin-bottom:5px; }
	h1 { margin:10px 0; font-size:1.5em; }
	.notice .inline { font-size:1.2em; color:#4e4e4e; margin:10px 0; display:inline-block; }
	.notice h1.inline { letter-spacing:-2px; font-weight:700; margin-right:10px; }
	.ml { margin-left:20px!important; }

.button { display:inline-block; padding:8px 12px; background:#ea4940; color:#fff; font-weight:700; text-align:center; min-width:160px; border-radius:3px; transition:background 0.3s; font-size:1em; cursor:pointer; }
.button:hover { background:#b5362f; }
.button i { margin-right:10px; }

.button.large { font-size:1.3em; padding:12px 30px; min-width:160px; }

.form p:last-child {
	margin:30px 0;
}

.form h2 {
	font-weight:300;
	margin:10px 0 20px 0;
}

.error { display:block; color:#ea4940; font-size:0.8em; margin:8px 0; font-style:italic; }
.error i { margin-right:10px; }

.error.larger { font-size:1em; margin:20px 0; }

.form.signin {
	max-width:600px;
}

.button.signin { width:100%!important; }

.fp-link, .r-check { width:50%; float:left; margin:0; padding:0 0 15px 0; }

.r-check label { margin:0; font-size:0.8em; display:inline-block; margin-right:10px; }
.fp-link a { font-size:0.8em; color:#4e4e4e; margin-right:20px; transition:color 0.3s; } .fp-link a:hover { color:#ea4940; }

.user { margin-right:20px; display:inline-block; cursor:pointer; position:relative; height:70px; }
.user a { color:#dcdcdc; font-weight:bold; }
.user a span { line-height:30px; display:inline-block; vertical-align:middle; }
.user img { display:inline-block; width:30px; height:30px; vertical-align:middle; border-radius:50%; margin-left:10px; }

footer { display:block; position:relative; color:#999; font-size:0.8em; text-align:center; border-top:1px solid #c7c7c7; }
footer p { margin:0; padding:12px 0; }
footer a { color:#999; }

footer span.logo { color:#999; font-size:1em; line-height:1em; }

.usermenu { position:absolute; top:47px; right:-12px; left:-12px; z-index:10002; display:none; }
.usermenu nav { background:#202020; position:relative; border-bottom-right-radius:3px; border-bottom-left-radius:3px; }
.usermenu nav a { display:block; color:#dcdcdc; padding:12px; font-size:0.8em; transition:background 0.3s; }
.usermenu nav a:last-child { border-bottom-right-radius:3px; border-bottom-left-radius:3px; }
.usermenu nav a:hover { background:#494949; }

.user:hover .usermenu { display:block; }

.feed { min-height:600px; padding:20px 12px; }

.wizard { min-height:600px; background:#f3f3f3; text-align:center; padding:80px 0 0 0; }
.wizard .slide { width:90%; max-width:1000px; position:relative; margin:0 auto; }
.wizard .slide h2 { font-weight:300; color:#4e4e4e; margin:0 0 30px 0; }

.wizard a.option { display:inline-block; min-width:250px; background:#eee; border:1px solid #dcdcdc; color:#999; font-size:2em; padding:30px 20px; margin:0 10px; transition:background 0.3s; }
.wizard a.option:hover { background:#dddddd; }
.wizard a i { display:block; font-size:1.3em; }

.create { min-height:600px; display:block; background:#f3f3f3; }

.new_image { padding:20px 0; }

.label-upload { display:none; }

.loader { font-size:5em; color:#999; }

.uploader { display:block; }

.editor { display:none; }
.editor img { max-width:95%; }

.editor .prev { width:60%; float:left; min-height:600px; text-align:center; border-right:1px solid #c7c7c7; }
.editor .edit { width:40%; float:left; min-height:600px; padding:0 20px; }
.editor .edit h2 { font-weight:300; color:#4e4e4e; }

.editor:after {
	display:table;
	content:" ";
	clear:both;
}

.discard { margin-right:20px; color:#4e4e4e; transition:color 0.3s; } .discard:hover { color:#ea4940; }

.nonajax-upload { display:none; }

.ad-content {
	display:inline-block;
	text-align:center;
	padding:10px 0;
	margin:0 auto!important;
	position:relative;
}

.addetails { padding:0 10px; } .addetails h3 { margin:10px 0; font-size:1.5em; }

.ad-content img { max-width:100%; }

.ad-info { text-align:left; display:block; padding:10px; background:#fff; box-shadow:rgba(0, 0, 0, 0.10) 0 0 2px; }

.adfeed:after { display:table; content:" "; clear:both; }
.aditem { width:33.33%; padding:10px; float:left; }
.aditem .inner { background:#fff; border-radius:3px; box-shadow:rgba(0, 0, 0, 0.10) 0 0 5px; border:1px solid #dcdcdc; cursor:pointer; height:320px; position:relative; }
.aditem .image { height:150px; background:no-repeat center center; background-size:cover; margin:5px; display:block; }
.aditem .addets { padding:10px; font-size:0.95em; } .aditem .addets span { display:block; margin:5px 0; }
.aditem span.title { font-weight:700; font-size:1em; } .aditem a { color:#4e4e4e; } .aditem span.description { min-height:40px!important; } 

.aditem .creator { color:#ea4940; font-weight:700; position:absolute; bottom:10px; left:10px; right:50%; display:block; }

.aditem .likes { color:#4e4e4e; position:absolute; display:block; right:0; left:60%; bottom:10px; text-align:right; font-size:0.95em; padding:0 10px; }
.likes i { color:#999; margin-right:5px; } .likes i.liked { color:#ea4940; }
.likes span { background:#fff; display:inline-block; text-align:left; }

.feed h1 { font-weight:300; color:#4e4e4e; font-size:1.3em; margin:0 0 20px 0; padding:0 20px; }

.profile { min-height:600px; display:block; padding:10px 0; }
.profile .header { height:150px; padding:10px; background:#fff; box-shadow:rgba(0, 0, 0, 0.10) 0 1px 3px; position:relative; }
.profile .header img { border-radius:50%; max-height:100%; }

.profile .header h1, .profile .header h2 { position:absolute; left:180px; }
.profile .header h1 a, .profile .header h2 a { color:#4e4e4e; margin-right:10px; }
.profile .header h1 { font-weight:300; top:30px; }
.profile .header h2 { font-weight:400; top:80px; font-size:1.2em; }

.profile .content { padding:10px 5px; }
.profile .content h1 { font-weight:300; color:#4e4e4e; margin:10px 0; font-size:1.3em; }
.profile .content h1 a { color:#ea4940; font-weight:400; }

.pagination { text-align:center; }
.pagination a { color:#888; font-size:3em; transition:color 0.3s; }
.pagination a:hover { color:#4e4e4e; }

footer.web { display:none; }
header.web { position:fixed; top:0; left:0; right:0; height:70px; z-index:10002; }

.code { position:fixed; top:70px; bottom:0; left:0; right:0; background:#2b2d3c; }
